name: Quality Analysis

on:
  pull_request:
    branches: [main]

jobs:
  build_lint_and_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: install
        run: npm ci

      - name: build
        run: npm run build

      - name: lint
        run: npm run lint

      - name: test
        run: npm run test:cov
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
